<div class="container-fluid">
    <div class="row">
        <mat-toolbar class="col d-flex flex-row">
            <img src="./assets/numberplates-io-logo.svg" class="d-none d-sm-block" [routerLink]="'/home'">

            <img src="./assets/n-logo-svg.png" class="ml-sm-auto" style="height: 70%;" [routerLink]="'/home'">
            <div class="d-block d-sm-none">.io</div>

            <button mat-icon-button
                    matTooltip="Login" 
                    aria-label="Login" 
                    class="ml-auto">
                <mat-icon>account_circle</mat-icon>
            </button>

            <button mat-icon-button
                    matTooltip="List your plate now" 
                    aria-label="List your plate now">
                <mat-icon>loupe</mat-icon>
            </button>

            <button mat-icon-button
                    matTooltip="Search for your personal plate" 
                    aria-label="Search for your personal plate">
                <mat-icon>search</mat-icon>
            </button>

            <button mat-icon-button
                    matTooltip="Get a plate valuation" 
                    aria-label="Get a plate valuation">
                <mat-icon>text_snippet</mat-icon>
            </button>
        </mat-toolbar>
    </div>
</div>
