h1 {
    font-family: GellixMedium, sans-serif;
    font-size: 3.3rem;
    line-height: 1.1;
    margin-bottom: 1.0em;
    max-width: 700px;
    width: 100%;
}

mat-form-field {
    max-width: 200px;
    .icon-button {
        border: none !important;
    }
}
