<section *ngFor="let section of howItWorks" class="my-2">

    <div class="col d-flex flex-column flex-lg-row">
        <div class="col-lg-1"></div>

        <div *ngIf="section.imageLeft" class="col order-first col-lg-5 d-flex justify-content-center">
            <img src="{{ section?.imageUrl }}" class="img-fluid">
        </div>

        <div class="col d-flex flex-column justify-content-center">
            
            <h5 class="sub-title">{{ section?.subTitle }}</h5>
           
            <h1 class="main-message" [innerHTML]="section?.title"></h1>
            
            <p [innerHTML]="section?.paragraph"></p>

            <ul class="list-unstyled">
                <span *ngFor="let option of section?.list">
                    <li class="list-indent">
                        <span class="material-icons list-style">{{ option?.listIcon }}</span>
                        <span [innerHTML]="option?.listTitle"></span>
                    </li>
                </span>
            </ul>

        </div>

        <div *ngIf="section.imageRight" class="col order-first order-lg-last col-lg-5 d-flex justify-content-center">
            <img src="{{ section?.imageUrl }}" class="img-fluid">
        </div>
        
        <div class="col-lg-1"></div>
    </div>

</section>
