@font-face {
    font-family: GellixBlack;
    src: url("/assets/fonts/font-gellix/GellixBlack.otf") format("truetype");
}

@font-face {
    font-family: GellixMeduim;
    src: url("/assets/fonts/font-gellix/GellixMedium.otf") format("truetype");
}
