#footer-top {
    background-color: #D4DCE4;

    h2, h1 {
        font-family: GellixMedium, sans-serif;
        font-size: 2.2em;
        line-height: 1.1;
        margin-bottom: 0.4em;
    }

    button {
        // for some reason the height of the button changes to 74px then back to 36px when reducing screen size
        // so using below fix for now
        height: 36px !important;
    }

    .green {
        color: #40b32e
    }

    .first-button {
        background-color: #40b32e;
        color: white;
    }
}

#footer {
    min-height: 340px;
    max-height: 100%;
    background-color: #1A2535;
    font-family: GellixMedium, sans-serif;

    .logo {
        height: auto;
        width: 75px;
    }

    a {
        text-decoration: none;
    }

    h2 {
        color: white;
    }

    .link-heading {
        color: white;
        font-size: 1.3rem;
        font-weight: 500;
        margin-bottom: 1.1rem;
    }

    .links {
        color: white;
        opacity: .85;
        font-size: 1rem;
        text-decoration: none;
    }
}