<div class="container-fluid my-5">
    <div class="row">
        <div class="col d-flex flex-column">

            <h5 class="sub-title">{{ subTitle }}</h5>

            <h1>The smartest way <br>to sell your plate<br>for <span class="free">FREE!</span></h1>

            <p class="sub-message">{{ subMessage }}</p>

            <div>
                <button mat-raised-button class="my-1 text-left primary-cta" (click)="$event">LIST your plate for FREE now</button>

                <h6 class="premium-message mt-2">We also have a <a><b class="secondary-cta" (click)="$event">PREMIUM Listing</b></a> option where for a small charge you can sell your plate fast via social media.</h6>
                
                <button mat-flat-button color="primary" class="my-1 text-left" (click)="$event">SEARCH 1,195 plates now</button>
                <br>
                <button mat-stroked-button class="my-1 text-left" (click)="$event">Get a VALUATION now</button>
            </div>

            <div class="my-3">
                <h6 class="premium-message" (click)="$event">{{ howItWorks }}</h6>
            </div>

        </div>
    </div>
</div>
