<div class="container-fluid my-5">
    <div class="row">
        <div class="col d-flex flex-column">

            <h5 class="sub-title">{{ subTitle }}</h5>

            <h1>The smartest way <br>to sell your plate<br>for <span class="free">FREE!</span></h1>

            <p class="sub-message">{{ subMessage }}</p>

            <div>
                <button mat-raised-button color="primary" class="my-1 text-left">LIST your plate now</button>
                <br>
                <button mat-raised-button color="accent" class="my-1 text-left">SEARCH for your personal plate now</button>
                <br>
                <button mat-raised-button color="warn" class="my-1 text-left">Get a VALUATION on your plate now</button>
            </div>

        </div>
    </div>
</div>
