<div class="container-fluid my-5">
    <div class="row">
        <div class="col d-flex flex-column">

            <h5 class="sub-title">{{ subTitle }}</h5>

            <h1>The smartest way <br>to sell your plate<br>for <span class="free">FREE!</span></h1>

            <p class="sub-message">{{ subMessage }}</p>

            <button mat-raised-button color="primary" class="my-1 w-75 text-left">List your plate now</button>
            <button mat-raised-button color="accent" class="my-1 w-75 text-left">Search for your personal plate now</button>
            <button mat-raised-button color="warn" class="my-1 w-75 text-left">Get a valuation on your plate now</button>

        </div>
    </div>
</div>
