<section id="footer-top" class="mt-5">
    <div class="d-flex py-5 border px-3 px-lg-4">
        <h2 [innerHTML]="footer?.heading"></h2>

        <div class="d-flex flex-column flex-lg-row ml-auto">
            <ng-container *ngFor="let button of footer?.ctaButtons; index as i; first as isFirst">
            
                <button mat-raised-button 
                        [routerLink]="button.url"
                        [ngClass]="{'first-button': isFirst}"
                        class="m-2">
                        {{ button.name }}
                </button>
                
            </ng-container>
        </div>
        
    </div>
</section>

<section id="footer" class="d-flex flex-column flex-lg-row">

    <div class="m-4">
        <img src="{{ footer?.logo }}">
        <br><br>
        <p class="text-white" [innerHTML]="footer?.address"></p>
        <br>
        <a class="text-white" href="mailto:{{ footer?.email }}">{{ footer?.email }}</a>
        <br>
        <div class="d-flex flex-row">
            <ng-container *ngFor="let sm of footer?.socialMedia">
                <a href="{{ sm.url }}" [innerHTML]="sm.icon" class="mx-2"></a>
            </ng-container>
        </div>
    </div>
    
</section>
