
<form [formGroup]="fG">

    <div formGroupName="{{fGN}}"
         class="d-flex flex-column align-items-center justify-content-center">

        <ng-container *ngIf="select">
            <mat-form-field appearance="fill">
                <mat-label>{{selectTitle}}</mat-label>
                <mat-select placeholder="English" [formControl]="selectedElementControl">
                  <mat-option *ngFor="let s of select" [value]="s.name">
                    {{s.name}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
        </ng-container>        

    </div>
    
</form>
