.info {
    background-color: lightcyan;
}

.summary {
    background-color: aliceblue;
}

.peach {
    background-color: #ffcc99;
}

.green {
    background-color: #adff2f;
}

.lavender {
    background-color: #e6e6fa;
}