
<app-header></app-header>

<section>
    <div class="col d-flex flex-column flex-lg-row">

        <div class="col-lg-1"></div>

        <div class="col col-lg-5 d-flex justify-content-center">
            <app-home-cta></app-home-cta>
        </div>
        
        <div class="col col-lg-5 d-flex justify-content-center">
            <img src="../assets/mobile-social-media.jpg" class="img-fluid">
        </div>

        <div class="col-lg-1"></div>
    </div>
</section>

<router-outlet></router-outlet>

<!-- flex-md-row-reverse -->