<div class="row">
    <div class="container">
        <div class="row">
          <div class="col-4 col-sm-4 d-flex align-items-center">
            <span class="plate-css text-uppercase mat-elevation-z4">
                {{plateId}}
            </span>
          </div>

          <div class="col-6 col-sm-4 d-flex flex-column justify-content-center align-items-center">
            <mat-chip-list class="">
                <mat-chip color="accent" selected>
                    <span *ngIf="offersOver">Offers over&nbsp;</span>
                    <span *ngIf="plateBestOffer">Make me an offer</span>
                    <span *ngIf="!plateBestOffer"> £{{askingPrice}} </span>
                    <span *ngIf="orNearestOffer">&nbsp;ONO</span>
                    <span *ngIf="plateNegotiable">&nbsp;Negotiable</span>
                </mat-chip>
            </mat-chip-list>
          </div>

          <div class="col-2 col-sm-4 d-flex justify-content-center align-items-center">
            <button
                class="d-none d-sm-block"
                id="messageSellerBtn"
                mat-raised-button
                (click)="messageSeller(plateId, askingPrice)"
                color="primary">
                Message Seller
            </button>

            <button
                mat-mini-fab
                color="primary"
                (click)="messageSeller(plateId, askingPrice)"
                class="d-sm-none d-md-none d-lg-none d-xl-none d-xxl-none">
                <mat-icon>message</mat-icon>
            </button>
         </div>
        </div>
    </div>

</div>
