#create-listing {
    // height: 100%;
    // clip-path: polygon(0 0, 100% 0, 100% 53%, 0% 100%);
    background-color: #F8F8F8;

    h1 {
        font-family: GellixMedium, sans-serif;
        font-size: 3.3rem;
        line-height: 1.1;
        margin-bottom: 1.0em;
        max-width: 700px;
        width: 100%;
    }

    // Removes border around close icon
    button {
        border: 0 !important;
    }

    @media screen and (max-width: 480px) {
        h1 {
            // font-size: 2.1rem;
            font-size: 3.3rem;
        }
    }
    
    @media screen and (min-width: 1450px) {
        h1 {
            font-size: 4.5rem;
        }
    }

    .field-width {
        width: 250px;
    }
}