<section id="create-listing" class="container-fluid">
    <div class="d-flex flex-column justify-content-center align-items-center py-5 text-center">

        <h1>Fill in the form below and get your plate online in a few minutes.</h1>

        <app-large-plate-display-input [plate]="numberPlate"></app-large-plate-display-input>

        <br>
        
        <form [formGroup]="plateForm" class="mb-5">

            <div formGroupName="plateGroupName">

                <mat-form-field appearance="fill" class="field-width">
                    <mat-label>Please enter your plate</mat-label>
                    <input matInput 
                            type="text" 
                            formControlName="plate"
                            maxlength="8"
                            placeholder="{{ placeholderPlate }}">
        
                    <button *ngIf="plateForm.get('plateGroupName').get('plate').value"
                            mat-button
                            mat-icon-button 
                            aria-label="Clear"
                            matSuffix
                            (click)="plateForm.get('plateGroupName').get('plate').setValue('')">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <br>
                <div class="d-flex flex-column justify-content-center align-items-left">
                    <mat-slide-toggle formControlName="free"
                                      (change)="onChangeFree($event)"
                                      [checked]="!plateForm.get('plateGroupName').get('premium').value">
                                      FREE!
                    </mat-slide-toggle>
                    <br>
                    <mat-slide-toggle formControlName="premium"
                                      (change)="onChangePremium($event)"
                                      [checked]="!plateForm.get('plateGroupName').get('free').value">
                                      PREMIUM!
                    </mat-slide-toggle>
                </div>
        
            </div>

        </form>

        <!-- <mat-tab-group mat-align-tabs="center" class="mx-3">

            <mat-tab label="Plate">
                <app-create-listing-form></app-create-listing-form>
            </mat-tab>

            <mat-tab label="Personal" class="my-5">Content 2</mat-tab>

            <mat-tab label="Keep it FREE" class="my-5">Content 3</mat-tab>

            <mat-tab label="Vehicle" class="my-5">Content 4</mat-tab>

        </mat-tab-group> -->

        <mat-horizontal-stepper #stepper class="mx-auto">
            
            <mat-step>
                <ng-template matStepLabel>Plate</ng-template>
                <app-create-listing-form></app-create-listing-form>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Personal Details</ng-template>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Keep it FREE</ng-template>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Premuim</ng-template>
            </mat-step>

        </mat-horizontal-stepper>

        <pre>{{ plateForm.valid | json }}</pre>
        <pre>{{ plateForm.value | json }}</pre>
          
    </div>
</section>
