<section id="create-listing" class="container-fluid">
    <div class="d-flex flex-column justify-content-center align-items-center py-5 text-center">

        <h1>Fill in the form below and get your plate online in a few minutes.</h1>

        <app-large-plate-display-input [plate]="value"></app-large-plate-display-input>

        <br>
        
        <mat-form-field appearance="fill" class="" style="width: 250px;">
            <mat-label>Please enter your plate</mat-label>
            <input matInput type="text" [(ngModel)]="value" placeholder="{{ placeholderPlate }}">
            <button *ngIf="value"
                    mat-button
                    mat-icon-button 
                    aria-label="Clear"
                    matSuffix
                    (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

    </div>
</section>
