<section id="create-listing" class="container-fluid">
    <div class="d-flex flex-column justify-content-center align-items-center py-5 text-center">


        <h1>{{ heading$ | async }}</h1>

        <app-large-plate-display-input [plate]="numberPlate$ | async"></app-large-plate-display-input>

        <br>
        
        <form [formGroup]="plateForm" class="mb-5">

            <div formGroupName="plateGroupName">

                <mat-form-field appearance="fill" class="field-width">
                    <mat-label>Please enter your plate</mat-label>
                    <input matInput 
                            type="text" 
                            formControlName="plate"
                            class="action-plate"
                            maxlength="8"
                            placeholder="{{ placeholderPlate$ | async }}">
        
                    <button *ngIf="plateForm.get('plateGroupName').get('plate').value"
                            mat-button
                            mat-icon-button 
                            aria-label="Clear"
                            matSuffix
                            (click)="plateForm.get('plateGroupName').get('plate').setValue('')">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <br>
                
                
                    <div class="d-flex flex-column justify-content-center align-items-left">
                        <mat-slide-toggle formControlName="free"
                                        (change)="onChangeFree($event)"
                                        [checked]="!plateForm.get('plateGroupName').get('premium').value">
                                        FREE!
                        </mat-slide-toggle>
                        <br>
                        <mat-slide-toggle formControlName="premium"
                                        (change)="onChangePremium($event)"
                                        [checked]="!plateForm.get('plateGroupName').get('free').value">
                                        PREMIUM!
                        </mat-slide-toggle>
                    </div>
                </div>

        </form>

        <!-- <mat-horizontal-stepper #stepper class="mx-auto">
            <mat-step *ngFor="let stepper of stepperLabels; index as i">
                <ng-template matStepLabel>{{ stepper.label }}

                    <span *ngIf="i===0">
                        <ng-container *ngFor="let fc of formCards">
                            <app-form-card [title]="fc.title" [subTitle]="fc.subTitle">

                            </app-form-card>
                        </ng-container>
                    </span>

                </ng-template>
            </mat-step>            
        </mat-horizontal-stepper> -->

        <mat-horizontal-stepper #stepper class="mx-auto">
            
            <mat-step>
                <ng-template matStepLabel>Plate</ng-template>

                <app-form-card *ngFor="let fc of (formCards$ | async); index as i" [title]="fc.title" [subTitle]="fc.subTitle" [footer]="fc.footer">
                    
                    <!-- // Meanings is 0 in the array -->
                    <div *ngIf="i===0">
                        <app-form-dynamic-inputs 
                            fG="{{ (meanings$ | async).formGroup }}"
                            fGN="{{ (meanings$ | async).formGroupName }}"
                            [fields]=" (meanings$ | async).inputFields "
                            >
                        </app-form-dynamic-inputs>
                    </div>

                    <!-- // Ethnicities is 1 in the array -->
                    <div *ngIf="i===1">
                        <app-form-dynamic-selects 
                            fG="{{ ( ethnicities$ | async ).formGroup}}"
                            fGN="{{ ( ethnicities$ | async ).formGroupName}}"
                            fCN="{{ ( ethnicities$ | async ).formGroupName}}"
                            selectTitle="{{ ( ethnicities$ | async ).selectTitle}}"
                            [select]=" ( ethnicities$ | async ).inputFields"
                            >
                        </app-form-dynamic-selects>
                    </div>

                    <!-- Costs -->
                    <div *ngIf="i===2">
                        <app-form-dynamic-inputs 
                            fG="{{ (costs$ | async).formGroup }}"
                            fGN="{{ (costs$ | async).formGroupName }}"
                            [fields]=" (costs$ | async).inputFields "
                            >
                        </app-form-dynamic-inputs>
                    </div>

                    <!-- Bought from -->
                    <div *ngIf="i===3">
                        <app-form-dynamic-selects 
                            fG="{{ ( boughtFrom$ | async ).formGroup}}"
                            fGN="{{ ( boughtFrom$ | async ).formGroupName}}"
                            fCN="{{ ( boughtFrom$ | async ).formGroupName}}"
                            selectTitle="{{ ( boughtFrom$ | async ).selectTitle}}"
                            [select]=" ( boughtFrom$ | async ).inputFields"
                            >
                        </app-form-dynamic-selects>
                    </div>

                    <!-- Plate type -->
                    <div *ngIf="i===4">
                        <app-form-dynamic-selects 
                            fG="{{ ( plateType$ | async ).formGroup}}"
                            fGN="{{ ( plateType$ | async ).formGroupName}}"
                            fCN="{{ ( plateType$ | async ).formGroupName}}"
                            selectTitle="{{ ( plateType$ | async ).selectTitle}}"
                            [select]=" ( plateType$ | async ).inputFields"
                            >
                        </app-form-dynamic-selects>
                    </div>
                    
                </app-form-card>
                
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Personal Details</ng-template>

                <app-form-card *ngFor="let fc of (formCardsTwo$ | async); index as i" [title]="fc.title" [subTitle]="fc.subTitle" [footer]="fc.footer">
                    
                    <!-- // Names is 0 in the array -->
                    <div *ngIf="i===0">
                        <app-form-dynamic-inputs 
                            fG="{{ (names$ | async).formGroup }}"
                            fGN="{{ (names$ | async).formGroupName }}"
                            [fields]=" (names$ | async).inputFields "
                            >
                        </app-form-dynamic-inputs>
                    </div>

                    <!-- // Contact Details is 0 in the array -->
                    <div *ngIf="i===1">
                        <app-form-dynamic-inputs 
                            fG="{{ (contactDetails$ | async).formGroup }}"
                            fGN="{{ (contactDetails$ | async).formGroupName }}"
                            [fields]=" (contactDetails$ | async).inputFields "
                            >
                        </app-form-dynamic-inputs>
                    </div>

                     <!-- // Address is 0 in the array -->
                     <div *ngIf="i===2">
                        <app-form-dynamic-inputs 
                            fG="{{ (address$ | async).formGroup }}"
                            fGN="{{ (address$ | async).formGroupName }}"
                            [fields]=" (address$ | async).inputFields "
                            >
                        </app-form-dynamic-inputs>
                    </div>

                </app-form-card>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Keep it FREE</ng-template>

                <app-form-card 
                    [title]="'We ask these questions to keep your listing FREE at all times.'"
                    [subTitle]="'Keep It Free'"
                    [footer]="'Please note some information below may be passed on to interested third parties and by listing your plate for FREE you agree to these terms and conditions.'"
                    bgColour="info"
                    >

                    <form [formGroup]="freeOr12Group" class="my-3">
                        <div formGroupName="freeOr12">
                            <div class="d-flex flex-column justify-content-center align-items-left">
                                <mat-slide-toggle formControlName="free"
                                                  (change)="onChangeFreeOr12($event)"
                                                  [checked]="!freeOr12Group.get('freeOr12').get('12').value">
                                                  keep it FREE!
                                </mat-slide-toggle>
                            </div>
                        </div>
                    </form>
                </app-form-card>

                <app-form-card 
                    [title]="'You also have an option to list your plate for a one off fee of £12.'"
                    [subTitle]="'Standard Paid Listing'"
                    [footer]="'If you choose this option we will never share any of your information with anyone.'"
                    bgColour="green"
                    >

                    <form [formGroup]="freeOr12Group" class="my-3">
                        <div formGroupName="freeOr12">
                            <div class="d-flex flex-column justify-content-center align-items-left">
                                <mat-slide-toggle formControlName="12"
                                                  (change)="onChange12($event)"
                                                  [checked]="!freeOr12Group.get('freeOr12').get('free').value">
                                                  or list each plate for only £12!
                                </mat-slide-toggle>
                            </div>
                        </div>
                    </form>
                </app-form-card>

                <span *ngIf="showFormUnlessPay12">
                    <app-form-card *ngFor="let fc of (formCardsThree$ | async); index as i" [title]="fc.title" [subTitle]="fc.subTitle" [footer]="fc.footer">
                    
                        <!-- // car is 0 in the array -->
                        <div *ngIf="i===0">
                            <app-form-dynamic-inputs 
                                fG="{{ (car$ | async).formGroup }}"
                                fGN="{{ (car$ | async).formGroupName }}"
                                [fields]=" (car$ | async).inputFields "
                                >
                            </app-form-dynamic-inputs>
                        </div>
    
                        <!-- // carInsurances is 0 in the array -->
                        <div *ngIf="i===1">
                            <app-form-dynamic-inputs 
                                fG="{{ (carInsurance$ | async).formGroup }}"
                                fGN="{{ (carInsurance$ | async).formGroupName }}"
                                [fields]=" (carInsurance$ | async).inputFields "
                                >
                            </app-form-dynamic-inputs>
                        </div>
    
                         <!-- // houseInsurance is 0 in the array -->
                         <div *ngIf="i===2">
                            <app-form-dynamic-inputs 
                                fG="{{ (houseInsurance$ | async).formGroup }}"
                                fGN="{{ (houseInsurance$ | async).formGroupName }}"
                                [fields]=" (houseInsurance$ | async).inputFields "
                                >
                            </app-form-dynamic-inputs>
                        </div>
    
                        <!-- // mobile is 0 in the array -->
                        <div *ngIf="i===3">
                            <app-form-dynamic-inputs 
                                fG="{{ (mobile$ | async).formGroup }}"
                                fGN="{{ (mobile$ | async).formGroupName }}"
                                [fields]=" (mobile$ | async).inputFields "
                                >
                            </app-form-dynamic-inputs>
                        </div>
    
                        <!-- // electricCar is 0 in the array -->
                        <div *ngIf="i===4">
                            <app-form-dynamic-inputs 
                                fG="{{ (electricCar$ | async).formGroup }}"
                                fGN="{{ (electricCar$ | async).formGroupName }}"
                                [fields]=" (electricCar$ | async).inputFields "
                                >
                            </app-form-dynamic-inputs>
                        </div>
    
                    </app-form-card>
                </span>
                

            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Premuim</ng-template>

                <app-section-content [sectionData]="premium$ | async">

                    <form [formGroup]="plateForm">

                        <div formGroupName="plateGroupName">
                            <div class="d-flex flex-column justify-content-center align-items-left">
                                <mat-slide-toggle formControlName="free"
                                                (change)="onChangeFree($event)"
                                                [checked]="!plateForm.get('plateGroupName').get('premium').value">
                                                Keep it FREE for now!
                                </mat-slide-toggle>
                                <br>
                                <mat-slide-toggle formControlName="premium"
                                                (change)="onChangePremium($event)"
                                                [checked]="!plateForm.get('plateGroupName').get('free').value">
                                                Lets go PREMIUM for £150 and turbo boost your listing on FB for faster enquiries!
                                </mat-slide-toggle>
                            </div>
                        </div>
                    </form>

                </app-section-content>

                <!-- TODO: Create a Bootstrap reuseable carousel component and put the data in the json -->
                <!-- TODO: need to use data-touch on the carousel and test on mobile -->
                <!-- TODO: need to put the carousel into app-section-component -->

                <mat-card class="mx-4 my-4 mat-elevation-z4" style="background-color: #eef0f3;">
                    <div id="carouselExampleInterval" class="carousel slide mx-auto" style="max-width: 522px;" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active" data-interval="5000">
                            <img src="./assets/premium-fb-screen-shots/SS1-JAT1BOY.png" class="d-block w-100" alt="Facebook advert screen shot 1 - JAT 1 BOY plate">
                          </div>
                          <div class="carousel-item" data-interval="5000">
                            <img src="./assets/premium-fb-screen-shots/SS2-USM24N.png" class="d-block w-100" alt="Facebook advert screen shot 2 - USMAN plate">
                          </div>
                          <div class="carousel-item" data-interval="5000">
                            <img src="./assets/premium-fb-screen-shots/SS3-SA18ABA.png" class="d-block w-100" alt="Facebook advert screen shot 3 - SAI BABA plate">
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                </mat-card>

                <mat-card class="mx-4 my-4 mat-elevation-z4">
                    <img src="./assets/fb-mobile-4.svg" style="max-width: 100%" alt="Premium listings on Facebook">
                </mat-card>

            </mat-step>

        </mat-horizontal-stepper>

        <pre>{{ plateForm.valid | json }}</pre>
        <!-- <pre>{{ plateForm.value | json }}</pre> -->
          
    </div>
</section>
