.card-footer-container, .card-action-container {
    margin-left: 30px;
    margin-right: 30px;
}

.card-action-container {
    .delete {
            color: red;
    }

    .save {
        color: green;
    }
}

.lCName-input, .initials-input {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.slide-toggle-container {
    margin-left: 0 !important;
    mat-slide-toggle {
        margin-left: 0 !important;
        padding-left: 0 !important;
    }
}
