<section id="cta">
    <div class="col d-flex flex-column flex-lg-row">

        <div class="col-lg-1"></div>

        <div class="col col-lg-5 d-flex justify-content-center">
            <app-home-cta></app-home-cta>
        </div>
        
        <div class="col col-lg-5 d-flex justify-content-center">
            <img src="./assets/fb-mobile-4.svg" class="">
        </div>

        <div class="col-lg-1"></div>
    </div>
</section>

<app-section-content [sectionData]="howItWorks$ | async"></app-section-content>

