<mat-sidenav-container autosize id="search" class="sidenav-container">
    <mat-sidenav #sidenav [ngStyle]='{ width : currentWidthPx}' position="end" mode="over" [(opened)]="opened">
        <button mat-button (click)="sidenav.toggle()">Open/Close</button>
        <br>
        <p>Advanced Search Options</p>
        <!-- Advanced search component should go here -->
    </mat-sidenav>

    <mat-sidenav-content>
        <section>
            <div class="d-flex flex-column justify-content-center align-items-center p-3 text-center">
                <h1 class="mb-0">{{ (searchContent$ | async).heading }}</h1>
                <br>
                <h5 class="mb-0">{{ (searchContent$ | async).subHeading }}</h5>
            </div>

            <div class="col d-flex flex-row justify-content-center align-items-center p-3 text-center">
                <mat-form-field appearance="fill" class="col-12 col-sm-8 mr-1">
                    <mat-label>Number Plate Search</mat-label>
                    <mat-icon matSuffix>search</mat-icon>
                    <div class="d-flex flex-row">
                        <input
                            type="text"
                            [formControl]="filter"
                            matInput
                            placeholder="{{searchPlaceholder}}">
                    </div>
                </mat-form-field>
                <mat-icon class="settings-icon" (click)="sidenav.toggle()" matSuffix>settings</mat-icon>
            </div>
        </section>

        <section class="d-flex flex-column justify-content-center align-items-center">
            <p>Total Plates: {{( numberPlates$ | async)?.length }}</p>
            <p>Filtered Plates: {{( filteredNumberPlates$ | async)?.length }}</p>
        </section>

        <form [formGroup]="toggleCardOrListView">
            <section class="d-flex flex-row justify-content-center align-items-center">
                <span style="width: 100px;" class="">
                    <mat-slide-toggle
                        (toggleChange)="toggleView('Cards')"
                        name="Cards"
                        formControlName="cardView"
                        class="py-2">
                        Cards
                    </mat-slide-toggle>
                </span>
            </section>

            <section class="d-flex flex-row justify-content-center align-items-center">
                <span style="width: 100px;" class="">
                    <mat-slide-toggle
                        (toggleChange)="toggleView('List')"
                        name="List"
                        formControlName="listView"
                        class="py-2">
                        List
                    </mat-slide-toggle>
                </span>
            </section>
            <br>
            <br>
        </form>

        <section #searchResults class="d-flex flex-row justify-content-center align-items-center flex-wrap p-3">
            <!-- <ng-container *ngFor="let plate of filteredNumberPlates$ | async"> -->

                <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
                    <div *cdkVirtualFor="let plate of filteredNumberPlates$ | async">

                        <div *ngIf="toggleCardOrListView.get('cardView').value">
                            <ng-container>
                                <app-plate-card
                                    [forSearch]="true"
                                    [profilePic]="plate.profiletPicUrl"
                                    [initials]="plate.initials"
                                    [profilePicInitials]="true"
                                    [plateCreated]="plate.createdDate"
                                    [plateCategory]="plate.plateCategory"
                                    [plateId]="plate.plateCharacters"
                                    [askingPrice]="plate.askingPrice"
                                    [plateNegotiable]="plate.plateNegotiable"
                                    [plateBestOffer]="plate.plateBestOffer"
                                    [offersOver]="plate.offersOver"
                                    [orNearestOffer]="plate.orNearestOffer"
                                    [meaning]="plate.meanings"
                                    [pageViews]="plate.viewsPlaceholder"
                                    [sellerContacted]="plate.sellerContacted"
                                    [emailToFriend]="plate.emailToFriend"
                                    [sold]="plate.sold"
                                    >
                                </app-plate-card>
                            </ng-container>
                        </div>

                        <div *ngIf="toggleCardOrListView.get('listView').value" class="container justify-content-center">
                            <ng-container>
                                <app-plate-view-simple
                                    [plateId]="plate.plateCharacters"
                                    [askingPrice]="plate.askingPrice"
                                    [plateNegotiable]="plate.plateNegotiable"
                                    [plateBestOffer]="plate.plateBestOffer"
                                    [offersOver]="plate.offersOver"
                                    >
                                </app-plate-view-simple>
                                <hr>
                            </ng-container>
                        </div>

                    </div>
                </cdk-virtual-scroll-viewport>



            <!-- </ng-container> -->
        </section>

    </mat-sidenav-content>
</mat-sidenav-container>
