<div class="my-3 mx-3 mx-lg-4">

    <section class="col d-flex flex-column flex-lg-row my-5 py-3 mat-elevation-z8" 
            [ngClass]="('section?.ctaButtonUrl' && 'section?.ctaButtonText')?'text-align-left':'text-align-center'" 
            *ngFor="let section of sectionData">

        <div *ngIf="section.imageLeft" class="col order-first col-lg-5 d-flex justify-content-center">
            <img src="{{ section?.imageUrl }}" class="img-fluid">
        </div>

        <div class="col d-flex flex-column justify-content-center">
            
            <h5 class="sub-title mt-4">{{ section?.subTitle }}</h5>
           
            <h2 class="main-message" [innerHTML]="section?.title"></h2>
            
            <p [innerHTML]="section?.paragraph"></p>

            <ul *ngIf="section?.list" class="list-unstyled">
                <span *ngFor="let option of section?.list">
                    <li class="list-indent">
                        <span class="material-icons list-style">{{ option?.listIcon }}</span>
                        <span [innerHTML]="option?.listTitle"></span>
                    </li>
                </span>
            </ul>

            <div *ngIf="section?.ctaButtonUrl" class="d-flex flex-column">
                <button mat-raised-button 
                    class="my-3 text-left bg-success text-white text-center col-12 col-lg-6"
                    (click)="$event"
                    [routerLink]="section?.ctaButtonUrl">
                    {{ section?.ctaButtonText }}
                </button>

                <h6 class="text-center font-weight-lighter col-12 col-lg-6">{{ section?.ctaButtonSubText }}</h6>
            </div>

            <br>
            <ng-content class="w-100"></ng-content>
            
        </div>

        <div *ngIf="section.imageRight" class="col order-first order-lg-last col-lg-5 d-flex justify-content-center">
            <img src="{{ section?.imageUrl }}" class="img-fluid">
        </div>

    </section>

</div>
