.sub-title {
    font-family: GellixMedium, sans-serif;
    font-weight: 500;
    color: #00C189;
    margin-bottom: .7em;
}

.main-message {
    font-family: GellixMedium, sans-serif;
    font-size: 2.8rem;
    line-height: 1.1;
    margin-bottom: .4em;
}

.list-style {
    margin-right: 15px;
    position: relative;
    top: 6px;
    color: #00C189;
}

.list-indent {
    padding-left: 2.5em;
    text-indent: -1.2em;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

#sub-text h6 {
    left: -15px;
}