<div id="valuation-dialog" class="container-fluid">
    <div class="row">
        <div class="col-12" style="max-width: 500px;">
            <div class="d-flex flex-row-reverse">
                <button mat-icon-button>
                    <mat-icon mat-dialog-close matSuffix (click)="onCloseValuationDialog()">close</mat-icon>
                </button>
            </div>

            <div class="d-flex flex-column align-items-center justify-content-center">
                <div *ngIf="this.stepZeroForm.valid && stepOneForm.valid && stepTwoForm.valid && stepThreeForm.valid">
                    <div *ngIf="stepZeroForm.get('plate').value?.length > 0" class="w-100">
                        <span class="plate-css text-uppercase mat-elevation-z4">
                    {{ stepZeroForm.get('plate').value }}
                  </span>

                        <div class="w-100 mt-2 text-center" *ngIf="stepZeroForm.valid">
                            <!-- £{{ calcPriceBeforeQuestions(stepZeroForm.get('platePrice').value) }} -->
                            £{{ stepZeroForm.get('plateValB4Q').value }}
                        </div>

                        <div class="w-100 mt-2 text-center" *ngIf="stepZeroForm.valid">
                            £{{ stepZeroForm.get('valuationPrice').value | decimal:0 }}
                        </div>
                    </div>
                </div>

                <mat-vertical-stepper [linear]="isLinear" #stepper class="mt-4">

                    <mat-step [stepControl]="stepZeroForm">
                        <form [formGroup]="stepZeroForm">
                            <ng-template matStepLabel>Plate, Type & Year</ng-template>

                            <div class="d-flex flex-column align-items-center justify-content-center">
                                <!-- Plate -->
                                <mat-form-field appearance="fill">
                                    <mat-label>Plate</mat-label>
                                    <input matInput type="text" maxLength="8" placeholder="1 51NGH" formControlName="plate" appUppercase required>
                                </mat-form-field>

                                <!-- Price Bought -->
                                <mat-form-field appearance="fill">
                                    <mat-label>Price Bought</mat-label>
                                    <input matInput type="number" placeholder="£1,000" formControlName="platePrice" required>
                                </mat-form-field>

                                <!-- Plate Types -->
                                <mat-form-field appearance="fill">
                                    <mat-label>Plate Types</mat-label>
                                    <mat-select formControlName="plateType">
                                        <mat-option *ngFor="let type of plateTypes" [value]="type.value">
                                            {{ type.label }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <!-- Suffix Years -->
                                <mat-form-field *ngIf="stepZeroForm.get('plateType').value === 'suffix'" appearance="fill">
                                    <mat-label>Suffix Years</mat-label>
                                    <mat-select formControlName="plateYear">
                                        <mat-option *ngFor="let suffix of suffixYears" [value]="suffix.year">
                                            {{ suffix.reg }} - {{ suffix.year }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <!-- Prefix Years -->
                                <mat-form-field *ngIf="stepZeroForm.get('plateType').value === 'prefix'" appearance="fill">
                                    <mat-label>Prefix Years</mat-label>
                                    <mat-select formControlName="plateYear">
                                        <mat-option *ngFor="let prefix of prefixYears" [value]="prefix.year">
                                            {{ prefix.reg }} - {{ prefix.year }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <!-- Current Years -->
                                <mat-form-field *ngIf="stepZeroForm.get('plateType').value === 'current'" appearance="fill">
                                    <mat-label>Current Years</mat-label>
                                    <mat-select formControlName="plateYear">
                                        <mat-option *ngFor="let current of currentYears" [value]="current.year">
                                            {{ current.reg }} - {{ current.year }} - {{ current.month }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <!-- Year bought -->
                                <mat-form-field appearance="fill" *ngIf="
                          stepZeroForm.get('plateType').value === 'dateless' ||
                          stepZeroForm.get('plateType').value === 'irish'">
                                    <mat-label>Year Bought</mat-label>
                                    <input matInput type="text" appNumbersOnly maxlength="4" minlength="4" formControlName="plateYear" required>
                                </mat-form-field>
                                <button [disabled]="stepZeroForm.invalid" mat-button matStepperNext>Next</button>
                            </div>

                        </form>
                    </mat-step>

                    <mat-step [stepControl]="stepOneForm">
                        <form [formGroup]="stepOneForm">
                            <ng-template matStepLabel>Meaning</ng-template>
                            <div class="d-flex flex-column align-items-center justify-content-center">
                                <mat-form-field appearance="fill">
                                    <mat-label>Meaning</mat-label>
                                    <input matInput type="text" formControlName="meaning" placeholder="SINGH" appUppercase required>
                                </mat-form-field>
                                <div>
                                    <button mat-button matStepperPrevious>Back</button>
                                    <button mat-button matStepperNext>Next</button>
                                </div>
                            </div>
                        </form>
                    </mat-step>

                    <mat-step [stepControl]="stepTwoForm">
                        <form [formGroup]="stepTwoForm">
                            <ng-template matStepLabel>Questions</ng-template>
                            <div class="d-flex flex-column align-items-center justify-content-around text-center">
                                <div class="questions">Q1: Does the plate have more characters than the meaning?</div>
                                <mat-slide-toggle (change)="onQuestionChangePriceDec($event, stepZeroForm.get('plateValB4Q').value, q1Value)" formControlName="q1">
                                    Yes
                                </mat-slide-toggle>

                                <div class="questions">Q2:Do you have consecutive matching numbers or letters in your plate combination?</div>
                                <mat-slide-toggle (change)="onQuestionChangePriceDec($event, stepZeroForm.get('plateValB4Q').value, q2Value)" formControlName="q2">
                                    Yes
                                </mat-slide-toggle>

                                <div class="questions">Q3:Do you need to modify a character to look like another character?</div>
                                <mat-slide-toggle (change)="onQuestionChangePriceDec($event, stepZeroForm.get('plateValB4Q').value, q3Value)" formControlName="q3">
                                    Yes
                                </mat-slide-toggle>

                                <div class="questions">Q4: Do you have more than 1 space between words and numbers?</div>
                                <mat-slide-toggle (change)="onQuestionChangePriceDec($event, stepZeroForm.get('plateValB4Q').value, q4Value)" formControlName="q4">
                                    Yes
                                </mat-slide-toggle>
                                <div>
                                    <button mat-button matStepperPrevious>Back</button>
                                    <button mat-button matStepperNext>Next</button>
                                </div>
                            </div>
                        </form>
                    </mat-step>

                    <mat-step [stepControl]="stepThreeForm">
                        <form [formGroup]="stepThreeForm">
                            <ng-template matStepLabel>More Questions</ng-template>
                            <div class="d-flex flex-column align-items-center justify-content-around text-center">
                                <div class="questions">Q5: Does the plate have a single 1?</div>
                                <mat-slide-toggle (change)="onQuestionChangePriceInc($event, stepZeroForm.get('valuationPrice').value, q5Value)" formControlName="q5">
                                    Yes
                                </mat-slide-toggle>

                                <div class="questions">Q6: Is this a popular word!</div>
                                <mat-slide-toggle (change)="onQuestionChangePriceInc($event, stepZeroForm.get('valuationPrice').value, q6Value)" formControlName="q6">
                                    Yes
                                </mat-slide-toggle>
                                <div>
                                    <button mat-button matStepperPrevious>Back</button>
                                    <button mat-button matStepperNext>Next</button>
                                </div>
                            </div>
                        </form>
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Summary</ng-template>
                        <div>
                            <div style="margin-left: 0 !important" class="d-flex flex-column justify-content-around text-center">
                                <div *ngIf="stepZeroForm.get('plate').value?.length > 0" class="w-100 my-3">
                                    <span class="plate-css text-uppercase mat-elevation-z4">
                                        {{ stepZeroForm.get('plate').value }}
                                    </span>
                                </div>

                                <div *ngIf="stepZeroForm.get('valuationPrice').value" class="my-3 w-100">
                                    <span class="current-val">
                                        <span class="sterling">£</span> {{ stepZeroForm.get('valuationPrice').value | number}}
                                    </span>
                                    <mat-chip-list class="mat-chip-list-stacked">
                                        <mat-chip>Current Valuation</mat-chip>
                                    </mat-chip-list>
                                </div>

                                <mat-accordion>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                More info...
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>

                                        <mat-panel-description class="mx-1">
                                            <div class="d-flex flex-column">
                                                <div class="my-3">
                                                    <mat-chip-list>
                                                        <mat-chip style="w-100" color="none"><span class="">Type:</span> {{ stepZeroForm.get('plateType')?.value | uppercase }}</mat-chip>
                                                        <mat-chip style="w-100" color="primary">Price bought: £{{ stepZeroForm.get('platePrice')?.value }}</mat-chip>
                                                        <mat-chip style="w-100" color="accent">Age: {{ plateAge }}</mat-chip>
                                                        <mat-chip style="w-100" color="warn">Meaning: {{ stepOneForm.get('meaning').value | uppercase }}</mat-chip>
                                                        <mat-chip style="w-100" color="primary">Percentage: {{ ((stepZeroForm.get('valuationPrice').value / stepZeroForm.get('platePrice').value) * 100) | number }}%</mat-chip>
                                                        <mat-chip style="w-100" color="primary">Profit: £{{ (stepZeroForm.get('valuationPrice').value - stepZeroForm.get('platePrice').value | number) }}</mat-chip>
                                                    </mat-chip-list>
                                                </div>
                                            </div>
                                        </mat-panel-description>
                                    </mat-expansion-panel>
                                </mat-accordion>


                                <!-- <div *ngIf="stepZeroForm.get('plateValB4Q').value" class="my-3 w-100">
                                    <mat-chip-list>
                                        <mat-chip color="primary">Plate Value before questions:</mat-chip>
                                        £{{ stepZeroForm.get('plateValB4Q').value }}
                                    </mat-chip-list>
                                </div> -->


                                <!-- <div>
                                    <a href="whatsapp://send?text=www.google.com" data-text="Take a look at this awesome website:" class="wa_btn wa_btn_s">
                                       Share
                                    </a>
                                </div> -->
                                <!--
                                <div>
                                    <i class="fab fa-facebook"></i>
                                    <i class="fas fa-camera"></i>
                                    <span class="fas fa-camera"></span>
                                </div> -->

                                <!-- <ng-container *ngIf="isHTTPS">
                                    <app-share-button [share]="share"></app-share-button>
                                </ng-container> -->

                                <!-- <ng-container>
                                    <div class="sharethis-inline-share-buttons"></div>
                                </ng-container> -->

                                <div class="d-flex justify-content-around w-100">
                                    <!-- https://www.npmjs.com/package/angular-font-awesome -->
                                    <!-- <fa class="social-icons" name="twitter" size="lg"></fa>
                                    <fa class="social-icons" name="facebook" size="lg"></fa>
                                    <fa class="social-icons" name="instagram" size="lg"></fa>

                                    <a href="whatsapp://send?text=www.google.com" data-text="Take a look at this awesome website:">
                                        <fa class="social-icons" name="whatsapp" size="lg"></fa>
                                    </a> -->

                                </div>

                                <!-- <p>You are now done.</p> -->
                                <div>
                                    <button mat-button matStepperPrevious>Back</button>
                                    <button mat-button (click)="reset()">Reset</button>
                                </div>
                            </div>
                        </div>
                    </mat-step>

                </mat-vertical-stepper>

            </div>
        </div>
    </div>
</div>