.plate-css {
    border-radius: 5px;
    background-color: yellow;
    color: black;
    font-size: 1.5rem;
    padding: 10px;
}

.questions {
    display: inline-block;
}

mat-slide-toggle, .questions {
    margin: 10px 0;
}

::ng-deep mat-step-header {
    margin-bottom: 15px !important;
}
