
<div class="d-flex flex-column align-items-center">
    <span *ngIf="stepZeroForm.get('plate').value.length > 0" class="plate-css text-uppercase mat-elevation-z4">
        {{ stepZeroForm.get('plate').value }}
    </span>

    <mat-vertical-stepper [linear]="isLinear" #stepper class="mt-4">

        <mat-step [stepControl]="stepZeroForm">
          <form [formGroup]="stepZeroForm">
            <ng-template matStepLabel>What is your plate</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Plate</mat-label>
              <input matInput placeholder="1 51NGH" formControlName="plate" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Year</mat-label>
                <input matInput placeholder="1956" formControlName="plateYear" required>
              </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="stepOneForm">
          <form [formGroup]="stepOneForm">
            <ng-template matStepLabel>Meaning</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Meaning</mat-label>
              <input matInput formControlName="meaning" placeholder="SINGH"
                     required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>

      </mat-vertical-stepper>

</div>

